#container {
  display: flex;
  gap: 200px;
  align-items: center;
  justify-content: center;
}

#grid-container {
  display: flex;
  flex-direction: column;
}

.grid-row {
  margin: 0;
  display: flex;
}

.grid-block {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  display: inline-block;
}

#clear-button {
  height: 30px;
  width: 80px;
}
